/* セレクタ */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #362727;
    text-align: center;
}

p {
    line-height: 1.5;
    color: #666;
}
/*班員一覧*/
.menber{
    position: relative;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 60px;
    color:black;
}
.menber span {
    position: relative;
    z-index: 2;
}
.menber::before {
    content: attr(data-en);
    position: absolute;
    transform: rotate(-5deg);
    top: -20px;
    left: 300px;
    color: rgba(224,66,114,0.6);
    font-size: 80px;
    font-weight: 400;
    font-family: luxus-brut, cursive;
    font-style: italic;
}

/*ボタンの色*/
.btn {
    padding: 10px 20px;
    background: yellow;
    color: #111111;
    border-bottom: solid 5px gray;
    border-radius: 25px;
}
.btn:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none;
}

/* スタイルを定義する */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* ポップアップの背景色と透明度 */
}

.modal-content {
    background-color: #fff; /* ポップアップのコンテンツの背景色 */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    width: 50%;
}
.modal-content img {
    max-width:100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

