img{
  max-width: 100%;
  height: auto;
}

.gyo{
font-size:16px;
line-height:10px;
}

body,
html {
height: 100%;
/*margin: 0 auto;*/
}

h2 {
  font-family: 'Impact';
  font-size: 55px;
  text-align: center;
  padding-left: 5%;
  padding-top: 20%;
  color: black;
}

.sakuseisya{
font-size:25px;
text-align: left;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.cd-fixed-bg.cd-bg-1  {
background-image: url('https://shu-naka-blog.com/wp-content/uploads/2020/03/img002.jpg');
}

.flex {
display: flex;
justify-content: center;
}

.text-container {
display: flex;
justify-content: right;
margin-right: 100px;
padding-right: 5%;
}

.testIcon {
text-align: center;
padding-right: 2%;
padding-top: 3%;
}

.code {
  width: 40%;
}

.text {
margin: 5px 0 0;
margin-right: 100px;
padding-top: 7%;
}

/* CSSアニメーションの指定 */
.Headline{
animation: SlideIn 1.6s ;
}

/* CSSアニメーションの設定 */
@keyframes SlideIn {
0% {
  opacity: 0;/*初期状態では透明に*/
  transform: translateX(64px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}

body{
     /* 背景色指定 */
  background-color:#10100E;
  color:#cccccc;
  }

  div.imgt {
     position:absolute;
     top:1em;
     left:20em;
     padding: 0px;
  }
  p.title {
      font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
      color: #eaf4fc;
      font-size:4em;
      line-height:80%;
      margin: 0px;
  }

  div.menu {
      position:absolute;
      top:4em;
      left:3em;
      border:1px solid;
      padding:10px;
      font-size: 2em;
      line-height:120%;
      font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
      color:#cccccc;
      /*background-color:black;*/
  }

.hero {
position: relative;
}

/* video */

.video-box {
position: relative;
overflow: hidden;
width: 100%;
height: 100vh;
}
.video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

/* overlay */

.overlay::after {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
content: "";
background: rgba(0, 0, 0, 0.4);
}

/* text */

.text-box {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

h1 {
font-family: Roboto;
font-size: 60px;
font-weight: bold;
line-height: 1.2;
padding: 0 50px;
text-align: center;
color: #fff;
}

.menber {
padding-left: 7%;
}

.slide_vertical_wrap {
position: fixed;
left: 0;
top: 0;
height: 100vh;
overflow: hidden;
}






